.cd_flippedCanvas {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#cd_canvasOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#cd_canvasHolder {
  position: absolute;
  width: 640px;
  height: 480px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 40px rgba(128, 255, 32, .8);
  border: 1px solid rgb(128, 255, 32);
}
